 <thead>
    <tr>
        <th colspan="9" class="text-center"> <b>{{categories.[0].name}}</b></th>
    </tr>
</thead>
<tbody>
    <tr>
        {{#each types}}
            {{#if (eq category 0)}}
            <td colspan='3' class="text-center"><b>{{name}}</b></td>
            {{/if}}
        {{/each}}
    </tr>
    <tr>
        <td colspan='3' class="text-center">{{types.[0].description}}</td>
        <td colspan='3' class="text-center">{{types.[1].description}}</td>
        <td colspan='3' class="text-center">{{types.[2].description}}<td>
    </tr>
    <tr>
        {{#each products}}
            {{#if (eq type 0)}}
            <td class="text-center"> {{name}} </td>
            {{/if}}
        {{/each}}
         {{#each products}}
            {{#if (eq type 1)}}
            <td class="text-center"> {{name}} </td>
            {{/if}}
        {{/each}}
         {{#each products}}
            {{#if (eq type 2)}}
            <td class="text-center"> {{name}} </td>
            {{/if}}
        {{/each}}
    </tr>
    <tr>
        {{#each products}}
            {{#if (eq type 0)}}
            <td class="text-center"> {{description}} </td>
            {{/if}}
        {{/each}}
         {{#each products}}
            {{#if (eq type 1)}}
            <td class="text-center"> {{description}} </td>
            {{/if}}
        {{/each}}
         {{#each products}}
            {{#if (eq type 2)}}
            <td class="text-center"> {{description}} </td>
            {{/if}}
        {{/each}}
    </tr>
</tbody>


